<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [2]:

x = 40 #This is an assignmenty statement
y = x + 2 # There are 2 steps here, add 2 to x, THEN make y equal to 42 
# Right to left reading happening, the '=' sign is a <- arrow (arrow pointing to the left)
print(y)

y = y + 2 # New value of y happening
print(y)

42
44

### 1.2 Shorter and cleaner

In [6]:
y = 40
y += 2 # SAME AS y = y + 2 

y # This is not the same as print(y)

42

In [5]:
y = 40
y += 2 # SAME AS y = y + 2 
y =+ 2 # NOT THE SAME AS y = y + 2, it is just = 2
y # This is not the same as print(y)

2

In [8]:
y = 40
y -= 2 # SAME AS y = y - 2 

y # This is not the same as print(y)

38

In [7]:
y = 40
y *= 2 # SAME AS y = y * 2 

y # This is not the same as print(y)

80

In [10]:
y = 40
y /= 2 # SAME AS y = y / 2 

y # This is not the same as print(y)

# RECAP from basics(need) '/' gives float type value, // gives int type value (quotient) ''%' gives remainder int type value

20.0

### 1.3 Asking questions

In [12]:
# two LISTS that could very well be my grocery shopping list
fruits = ['apple','banana','pineapple','jackfruit']
vegetables = ['celery','potato','broccoli','kale'] 

'apple' in fruits # Returns boolean value, on whether the sting (or whatever data type) is in the list or not

True

In [18]:
# two LISTS that could very well be my grocery shopping list
fruits = ['apple','banana','pineapple','jackfruit']
vegetables = ['celery','potato','broccoli','kale'] 

['apple', 'banana', 'pineapple', 'jackfruit'] == fruits # Returns boolean value, on whether the entire list specified has the exact same data as the list or not

True

In [17]:
# two LISTS that could very well be my grocery shopping list
fruits = ['apple','banana','pineapple','jackfruit']
vegetables = ['celery','potato','broccoli','kale'] 

['banana','apple','jackfruit','pineapple'] == fruits 

#ARRANGEMENT OF THE DATA IN THE LIST MATTERS

False

In [19]:
# two LISTS that could very well be my grocery shopping list
fruits = ['apple','banana','pineapple','jackfruit']
vegetables = ['celery','potato','broccoli','kale'] 

'peach' in fruits

False

In [21]:
# two LISTS that could very well be my grocery shopping list
fruits = ['apple','banana','pineapple','jackfruit']
vegetables = ['celery','potato','broccoli','kale'] 

'peach' not in fruits # Confirming whether a particular data is NOT in the list

True

In [23]:
# two LISTS that could very well be my grocery shopping list
fruits = ['apple','banana','pineapple','jackfruit']
vegetables = ['celery','potato','broccoli','kale'] 

('apple' in fruits) and ('celery' in vegetables) #boolean value returned for this question

True

In [24]:
# two LISTS that could very well be my grocery shopping list
fruits = ['apple','banana','pineapple','jackfruit']
vegetables = ['celery','potato','broccoli','kale'] 

('apple' in fruits) and ('sweet potato' in vegetables) #boolean value returned for this question, even if one of them do not belong in the list, you gat a false

False

In [26]:
# two LISTS that could very well be my grocery shopping list
fruits = ['apple','banana','pineapple','jackfruit']
vegetables = ['celery','potato','broccoli','kale'] 

('apple' in fruits) and ('sweet potato' in vegetables) #boolean value returned for this question, even if one of them do not belong in the list, you gat a True

False

In [25]:
# two LISTS that could very well be my grocery shopping list
fruits = ['apple','banana','pineapple','jackfruit']
vegetables = ['celery','potato','broccoli','kale'] 

('apple' in fruits) or ('sweet potato' in vegetables) #boolean value returned for this question, even if one of them do not belong in the list but the other belongs in their respective list, you gat a True

True

### practice the table generator 

***Remember to convert the cell to a markdown for a table to appear***

| Question/Condition     | Math Symbol | Python Symbols |   |   |
|------------------------|-------------|----------------|---|---|
| Equals?                | =           | ==             |   |   |
| Not equal?             | =/=         | !=             |   |   |
| less than?             | <           | <              |   |   |
| greater than?          | >           | >              |   |   |
| less than or equal?    | =< lol      | <=  JUST REMEMBER THE WAY YOU SAY THIS IN ENGLISH, THE SEQUENCE IN WHICH 'LESS THAN' AND 'EQUAL IS SPOKEN           |   |   |
| greater than or equal? | >= lol      | >=  JUST REMEMBER THE WAY YOU SAY THIS IN ENGLISH, THE SEQUENCE IN WHICH 'MORE THAN' AND 'EQUAL IS SPOKEN           |   |   |

In [28]:
'apples' > 'oranges' 

#Letters happen to be numbered by Python already

False

In [31]:
( x > 5 ) and ( x < 15 ) == (5 < x < 15)

#ENSURE YOUR RANGES ARE CLOSED BY BRACKETS

True

### 1.4 There is more to if

In [1]:

Protagonist_answer = 'I have no limitations'

Protagonist_reply = 'Oh yea, what do you think?'

Antagonist_statement = input('Antagonist statement:')

if Antagonist_statement == 'you didnt learn your limitations':
    print(Protagonist_answer)
    
elif Antagonist_statement == 'didnt know what i would think when i saw you':
    print(Protagonist_reply)
    
else:
    print('I will continue until I find the man I cant defeat')

Antagonist statement:you didnt learn your limitations
I have no limitations

In [2]:

Protagonist_answer = 'I have no limitations'

Protagonist_reply = 'Oh yea, what do you think?'

Antagonist_statement = input('Antagonist statement:')

if Antagonist_statement == 'you didnt learn your limitations':
    print(Protagonist_answer)
    
elif Antagonist_statement == 'didnt know what i would think when i saw you':
    print(Protagonist_reply)
    
else:
    print('I will continue until I find the man I cant defeat')

Antagonist statement:didnt know what i would think when i saw you
Oh yea, what do you think?

In [3]:

Protagonist_answer = 'I have no limitations'

Protagonist_reply = 'Oh yea, what do you think?'

Antagonist_statement = input('Antagonist statement:')

if Antagonist_statement == 'you didnt learn your limitations':
    print(Protagonist_answer)
    
elif Antagonist_statement == 'didnt know what i would think when i saw you':
    print(Protagonist_reply)
    
else:
    print('I will continue until I find the man I cant defeat')

Antagonist statement:how are you doing tommy?
I will continue until I find the man I cant defeat

### 1.5 Python stores information in different formats or types.

In [5]:
x = 3
type(x)

int

In [9]:
x = 3
x=float(x)
print(x)

3.0

In [6]:
x = 3.0
type(x)

float

In [10]:
x = 3.0
x = int(x)
print(x)

3

In [12]:
x = 3.9
x = int(x)
print(x)

# EVERYTHING ROUNDED DOWN WHEN TYPE CONVERSION TO IINTEGER HAPPENS

3

In [7]:
x = '3.0'
type(x)

#QUOTATION MARKS DENOTE A STRING TYPE VARIABLE

str

In [8]:
x = '3.0'
print(x,type(x))

#QUOTATION MARKS DENOTE A STRING TYPE VARIABLE

3.0 <class 'str'>

### 1.6 Combining English and variables

In [13]:
NAME = 'majima'
print(f'{NAME}-chan!')

majima-chan!

In [14]:
NAME = 'majima'
print(f'{NAME.upper()}-chan!')

MAJIMA-chan!

In [17]:
x = 2
print(f'did you know that {x} plus 2 is {x+2}??!')

did you know that 2 plus 2 is 4??!

In [26]:
text = 'Better Call Saul!'
print(f'{text:<30}')

#Block of 30 characters, aligned left

Better Call Saul!

In [27]:
text = 'Better Call Saul!'
print(f'{text:>50}')

# Block of 30 characters, aligned right

                                 Better Call Saul!

In [24]:
text = 'Better Call Saul!' 
print(f'{text:^30}')

# Block of 30 characters, aligned centre

      Better Call Saul!

In [24]:
text = 'Better Call Saul!' 
print(f'{text:^30}')

# Block of 30 characters, aligned centre

      Better Call Saul!

### 1.7 Python can be a prima-donna.

In [31]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

NameError: name 'np' is not defined

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

In [ ]:

# Your code here

### 2.2 Getting help.

In [ ]:

# Your code here

## Exercise 1 :  Bias for some heroes


#### print('Hello BATMAN!') / print('Hello BLACK WIDOW!') / print(f'Hello {name})

In [7]:
# With Darren's help!

name = input('name:') #NOT recommended - good for testing multiple at once

#Define your function first!!!!

def hello(name):
    if name == "Batman":
        print('Hello BATMAN!')

    elif name == 'Black Widow':
        print('Hello BLACK WIDOW!')

    else:
        print(f'Hello {name}') 
    
# f comes first before the quotation marks for the string you want as the output

hello(name)

name:Batman
Hello BATMAN!

In [8]:
# with Darren's help

name = input('name:') #NOT recommended - good for testing multiple at once

#Define your function first!!!!

def hello(name):
    if name == "Batman":
        print('Hello BATMAN!')

    elif name == 'Black Widow':
        print('Hello BLACK WIDOW!')

    else:
        print(f'Hello {name}') 
    
# f comes first before the quotation marks for the string you want as the output

hello(name)

name:Black Widow
Hello BLACK WIDOW!

In [10]:
# with Darren's help

name = input('name:') #NOT recommended - good for testing multiple at once

#Define your function first!!!!

def hello(name):
    if name == "Batman":
        print('Hello BATMAN!')

    elif name == 'Black Widow':
        print('Hello BLACK WIDOW!')

    else:
        print(f'Hello {name}!') 
    
# f comes first before the quotation marks for the string you want as the output

hello(name)

name:Aqua Man
Hello Aqua Man!

In [13]:
# Exactly what exercise 1 wants

#Define your function first!!!! - code cell here

def hello(name):
    if name == "Batman":
        print('Hello BATMAN!')

    elif name == 'Black Widow':
        print('Hello BLACK WIDOW!')

    else:
        print(f'Hello {name}!') 
    
# f comes first before the quotation marks for 
# the string you want as the output

hello('Batman') # here you are calling the function

Hello BATMAN!

In [14]:
# Exactly what exercise 1 wants

#Define your function first!!!! - code cell here

def hello(name):
    if name == "Batman":
        print('Hello BATMAN!')

    elif name == 'Black Widow':
        print('Hello BLACK WIDOW!')

    else:
        print(f'Hello {name}!') 
    
# f comes first before the quotation marks for 
# the string you want as the output

hello('Black Widow') # here you are calling the function

Hello BLACK WIDOW!

In [15]:
# Exactly what exercise 1 wants

#Define your function first!!!! - code cell here

def hello(name):
    if name == "Batman":
        print('Hello BATMAN!')

    elif name == 'Black Widow':
        print('Hello BLACK WIDOW!')

    else:
        print(f'Hello {name}!') 
    
# f comes first before the quotation marks for 
# the string you want as the output

hello('Aqua Man') # here you are calling the function

Hello Aqua Man!

In [55]:
name = input('name:')

if name == "Batman":
    print('Hello BATMAN!')

elif name == 'Black Widow':
    print('Hello BLACK WIDOW!')
    
else:
    print(f'Hello {name}') 
    
# f comes first before the quotation marks for 
# the string you want as the output

name:Black Widow
Hello BLACK WIDOW!

In [57]:
name = input('name:')

if name == "Batman":
    print('Hello BATMAN!')

elif name == 'Black Widow':
    print('Hello BLACK WIDOW!')
    
else:
    print(f'Hello {name}!') 
    
# f comes first before the quotation marks for the string you want as the output

name:Aqua Man
Hello Aqua Man!

#### print('Hello {name.upper()')  /  print(f'Hello {name}!')

In [68]:
name = input('name:')
if name == "Batman":
    print(f'Hello {name.upper()}!')
elif name == 'Black Widow':
    print(f'Hello {name.upper()}!')
else:
    print(f'Hello {name}!')

name:Batman
Hello BATMAN!

In [69]:
name = input('name:')

if name == "Batman":
    print(f'Hello {name.upper()}!')
elif name == 'Black Widow':
    print(f'Hello {name.upper()}!')
else:
    print(f'Hello {name}!')

name:Black Widow
Hello BLACK WIDOW!

In [70]:
name = input('name:')

if name == "Batman":
    print(f'Hello {name.upper()}!')
elif name == 'Black Widow':
    print(f'Hello {name.upper()}!')
else:
    print(f'Hello {name}!')

name:Aqua Man
Hello Aqua Man!

##### or

In [17]:
# Exactly what exercise 1 wants 
# name = input('name:')

def hello(name):
    if name == "Batman" or name == 'Black Widow':
        print(f'Hello {name.upper()}!')
    else:
        print(f'Hello {name}!')
        
hello('Batman')

# Equality is checked twice, 2 variables at once shouldn't be next
# each other after the first name == 
# need it as name == or name ==

Hello BATMAN!

In [18]:
# Exactly what exercise 1 wants 
# name = input('name:')

def hello(name):
    if name == "Batman" or name == 'Black Widow':
        print(f'Hello {name.upper()}!')
    else:
        print(f'Hello {name}!')
        
hello('Black Widow')

# Equality is checked twice, 2 variables at once shouldn't be next
# each other after the first name == 
# need it as name == or name ==

Hello BLACK WIDOW!

In [24]:
# Exactly what exercise 1 wants 
# name = input('name:')

def hello(name):
    if name == "Batman" or name == 'Black Widow':
        print(f'Hello {name.upper()}!')
    else:
        print(f'Hello {name}!')
        
hello('Aqua Man')

# Equality is checked twice, 2 variables at once shouldn't be next
# each other after the first name == 
# need it as name == or name ==

Hello Aqua Man!

In [25]:
name = input('name:')

def hello(name):
    if name == "Batman" or name == 'Black Widow':
        print(f'Hello {name.upper()}!')
    else:
        print(f'Hello {name}!')
        
hello(name)

# Equality is checked twice, 2 variables at once shouldn't be next
# each other after the first name ==

name:Batman
Hello BATMAN!

In [26]:
name = input('name:')

def hello(name):
    if name == "Batman" or name == 'Black Widow':
        print(f'Hello {name.upper()}!')
    else:
        print(f'Hello {name}!')
        
hello(name)

# Equality is checked twice, 2 variables at once shouldn't be next
# each other after the first name ==

name:Black Widow
Hello BLACK WIDOW!

In [27]:
name = input('name:')

def hello(name):
    if name == "Batman" or name == 'Black Widow':
        print(f'Hello {name.upper()}!')
    else:
        print(f'Hello {name}!')
        
hello(name)

# Equality is checked twice, 2 variables at once shouldn't be next
# each other after the first name ==

name:Aqua Man
Hello Aqua Man!

### **********Exercise 1 failed codes***********

In [71]:
name = input('name:')

if name == "Batman" or 'Black Widow':
    print(f'Hello {name.upper()}!')
else:
    print(f'Hello {name}!')

name:Batman
Hello BATMAN!

In [72]:
name = input('name:')

if name == "Batman" or 'Black Widow':
    print(f'Hello {name.upper()}!')
else:
    print(f'Hello {name}!')

name:Black Widow
Hello BLACK WIDOW!

In [74]:
name = input('name:')

if name == "Batman" or 'Black Widow':
    print(f'Hello {name.upper()}!')
else:
    print(f'Hello {name}!')

name:Aqua Man
Hello AQUA MAN!

In [58]:
name = input('name:')

if name == "Batman" or 'Black Widow':
    print(f'Hello {name.upper()}!')

elif name == 'Aqua Man':
    print('Hello {name}')
    
# f comes first before the quotation marks for the string you want as the output

name:Batman
Hello BATMAN!

In [59]:
name = input('name:')

if name == "Batman" or 'Black Widow':
    print(f'Hello {name.upper()}!')

elif name == 'Aqua Man':
    print('Hello {name}')
    
# f comes first before the quotation marks for the string you want as the output

name:Black Widow
Hello BLACK WIDOW!

In [64]:
name = input('name:')

if name == "Batman" or 'Black Widow':
    print(f'Hello {name.upper()}!')

else:
    print(f'Hello {name.lower()}!')
    
# f comes first before the quotation marks for the string you want as the output

name:Aqua Man
Hello AQUA MAN!

In [39]:
name = input('name:')

if name == "Batman" or 'Black Widow':
    print(f'Hello {name.upper()}!')

# f comes first before the quotation marks for the string you want as the output

name:Batman
Hello BATMAN!

## Exercise 2 :  Bias for some heroes, continues

In [33]:
# with the name = input('name:)

# HOW TO MODIFY FUNCTION HELLO

name = input('name:')

name = name.upper() #think what you would do on paper

if name == 'BATMAN':
    print(f'Hello {name.upper()}!')
elif name == 'BlACK WIDOW':
    print(f'Hello {name.upper()}!')
else:
    print(f'Hello {name}!')

name:batman
Hello BATMAN!

In [35]:
# with the name = input('name:')

# HOW TO MODIFY FUNCTION HELLO

name = input('name:')

name = name.upper() #think what you would do on paper

if name == 'BATMAN':
    print(f'Hello {name.upper()}!')
elif name == 'BlACK WIDOW':
    print(f'Hello {name.upper()}!')
else:
    print(f'Hello {name}!')

name:Black widow
Hello BLACK WIDOW!

In [37]:
# with the name = input('name:')

# HOW TO MODIFY FUNCTION HELLO

name = input('name:')

x = name # For any other name that is not Batman or Black Widow
name = name.upper() #think what you would do on paper

if name == 'BATMAN':
    print(f'Hello {name.upper()}!')
elif name == 'BlACK WIDOW':
    print(f'Hello {name.upper()}!')
else:
    print(f'Hello {x}!')

name:Aqua Man
Hello Aqua Man!

In [32]:
# Exactly what Exercise 2 wants

# HOW TO MODIFY FUNCTION HELLO

# name = input('name:')

# name = name.upper() #think what you would do on paper

def hello(name):
    name = name.upper()
    
    if name == 'BATMAN':
        print(f'Hello {name.upper()}!')
    elif name == 'BlACK WIDOW':
        print(f'Hello {name.upper()}!')
    else:
        print(f'Hello {name}!')

hello('bAtmAn')

Hello BATMAN!

In [40]:
# Exactly what Exercise 2 wants

# HOW TO MODIFY FUNCTION HELLO

# name = input('name:')

# name = name.upper() #think what you would do on paper

def hello(name):
    name = name.upper()
    
    if name == 'BATMAN':
        print(f'Hello {name.upper()}!')
    elif name == 'BlACK WIDOW':
        print(f'Hello {name.upper()}!')
    else:
        print(f'Hello {name}!')

hello('black WIDOW')

Hello BLACK WIDOW!

In [39]:
# Exactly what Exercise 2 wants

# HOW TO MODIFY FUNCTION HELLO

# name = input('name:')

# name = name.upper() #think what you would do on paper

def hello(name):
    
    x = name
    name = name.upper()
    
    if name == 'BATMAN':
        print(f'Hello {name.upper()}!')
    elif name == 'BlACK WIDOW':
        print(f'Hello {name.upper()}!')
    else:
        print(f'Hello {x}!')

hello('Aqua Man')

Hello Aqua Man!

## Exercise 3 :  Look for help to replace

In [21]:
sentence_to_be_modified = 'The Joker lives in Gotham City.'

modified_sentence = sentence_to_be_modified.replace('Joker','Batman')

print(modified_sentence)

The Batman lives in Gotham City.