<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

## 1 for

### 1.1 for with a list

In [42]:
real_names = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']

name = real_names[0]
print(f'{name} is DC superhero')

name = real_names[-1]
print(f'{name} is DC superhero')

Bruce Wayne is DC superhero
Diana Prince is DC superhero

### 1.2 for with enumerate

In [52]:
real_names = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
# for name in real_names:
    # print(f'{name} is a DC superhero!')

# Goes through structure of *for* loop
# assigns {name} the value of each element of the list
# it then runs the code-block with that value *for* {name}

superhero_names = ['Batman', 'Superman', 'Wonder Woman']



for i, name in enumerate(real_names, 1):
    print(f'{i}:{name} is DC superhero!')

1:Bruce Wayne is DC superhero!
2:Clark Kent is DC superhero!
3:Diana Prince is DC superhero!

In [55]:
real_names = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
# for name in real_names:
    # print(f'{name} is a DC superhero!')

# Goes through structure of *for* loop
# assigns {name} the value of each element of the list
# it then runs the code-block with that value *for* {name}

superhero_names = ['Batman', 'Superman', 'Wonder Woman']



for i, name in enumerate(real_names, -2):
    superhero_name = superhero_names[i]
    print(f'{i}:{name} is {superhero_name}!')

# NO GOING BACKWARDS
# READ LEFT TO RIGHT

-2:Bruce Wayne is Superman!
-1:Clark Kent is Wonder Woman!
0:Diana Prince is Batman!

In [50]:
real_names = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
# for name in real_names:
    # print(f'{name} is a DC superhero!')

# Goes through structure of *for* loop
# assigns {name} the value of each element of the list
# it then runs the code-block with that value *for* {name}

superhero_names = ['Batman', 'Superman', 'Wonder Woman']


    
for i, name in enumerate(real_names, -1):
    superhero_name = superhero_names[i]
    print(f'{i}:{name} is {superhero_name}!')
#GOING BACKWARDS WOULD NOT MAKE SENSE

# NO GOING BACKWARDS
# READ LEFT TO RIGHT

-1:Bruce Wayne is Wonder Woman!
0:Clark Kent is Batman!
1:Diana Prince is Superman!

In [49]:
real_names = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
# for name in real_names:
    # print(f'{name} is a DC superhero!')

# Goes through structure of *for* loop
# assigns {name} the value of each element of the list
# it then runs the code-block with that value *for* {name}

superhero_names = ['Batman', 'Superman', 'Wonder Woman']

for i, name in enumerate(real_names):
    superhero_name = superhero_names[i]
    print(f'{i}:{name} is {superhero_name}!')
    
# NO GOING BACKWARDS
# READ LEFT TO RIGHT

0:Bruce Wayne is Batman!
1:Clark Kent is Superman!
2:Diana Prince is Wonder Woman!

In [56]:
real_names = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
# for name in real_names:
    # print(f'{name} is a DC superhero!')

# Goes through structure of *for* loop
# assigns {name} the value of each element of the list
# it then runs the code-block with that value *for* {name}

superhero_names = ['Batman', 'Superman', 'Wonder Woman']

for i, name in enumerate(real_names, 1):
    superhero_name = superhero_names[i]
    print(f'{i}:{name} is {superhero_name}!')


for i, name in enumerate(real_names, 1):
    print(f'{i}:{name} is DC superhero!')
    
# NO GOING BACKWARDS
# READ LEFT TO RIGHT

1:Bruce Wayne is Superman!
2:Clark Kent is Wonder Woman!

IndexError: list index out of range

### 1.3 for with range

In [39]:
# get the for loop to run a given number of loops

for i in range(5):
    print(i)
print('I can count to 4')

0
1
2
3
4
I can count to 4

In [38]:
# tailor the starting and ending values

for i in range(5,10):
    print(i)
print('I can count from 5 to 9')

5
6
7
8
9
I can count from 5 to 9

In [37]:
# Doing the above with adjusted step-size

for i in range(5,10,2):
    print(i)
print('I can count from 5 to 9 in increments of 2')

5
7
9
I can count from 5 to 9 in increments of 2

In [36]:
real_names = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
superhero_names = ['Batman', 'Superman', 'Wonder Woman']

for i in range(len(real_names)): # Use len(real_names) to get how many times the loop should run
    real_name = real_names[i]
    superhero_name = superhero_names[i]
    print(f'{real_name} is a DC\'s {superhero_name}!')

Bruce Wayne is a DC's Batman!
Clark Kent is a DC's Superman!
Diana Prince is a DC's Wonder Woman!

In [35]:
real_names = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
superhero_names = ['Batman', 'Superman', 'Wonder Woman']

for i in range(len(real_names)/2): # Use len(real_names) to get how many times the loop should run
    real_name = real_names[i]
    superhero_name = superhero_names[i]
    print(f'{real_name} is a DC\'s {superhero_name}!')

    
    # CANT HALF A LIST WITH NUMBERS

TypeError: 'float' object cannot be interpreted as an integer

In [34]:
# for loop can be run a given number of times using range()

real_names = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
superhero_names = ['Batman', 'Superman', 'Wonder Woman']

for i in range(3): 
    real_name = real_names[i]
    superhero_name = superhero_names[i]
    print(f'{real_name} is a DC\'s {superhero_name}!')

Bruce Wayne is a DC's Batman!
Clark Kent is a DC's Superman!
Diana Prince is a DC's Wonder Woman!

In [33]:
# loop can be run a given number of times using range()

real_names = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
superhero_names = ['Batman', 'Superman', 'Wonder Woman']

for i in range(2): 
    real_name = real_names[i]
    superhero_name = superhero_names[i]
    print(f'{real_name} is a DC\'s {superhero_name}!')

Bruce Wayne is a DC's Batman!
Clark Kent is a DC's Superman!

## 2 while

In [32]:
number = 0

while number < 6: # while loop checks condition at the start -> begin another loop if the condition is true
    print(number)
    number += 1

0
1
2
3
4
5

In [31]:
number = 0

while number <= 6: # while loop checks condition at the start -> begin another loop if the condition is true
    print(number)
    number += 1

0
1
2
3
4
5
6

In [30]:
number = 0

while True: # while loop checks condition at the start -> begin another loop if the condition is true
    print(number)
    number += 1
    break

0

## Exercise 1 :  Make me a list

In [28]:
# Exactly what Exercise 1 wants

number_list = []

for i in range(10):
    i = i**2
    number_list.append(i)

number_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
number_list = []

for i in range(10):
    i = i**2
    number_list.append(i)
    print(i)

number_list

0
1
4
9
16
25
36
49
64
81

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
for i in range(10):
    i = i**2
    print(i)

new_list = i
print(new_list)

# Have I made the output of this a list of its own? Nope! See above

0
1
4
9
16
25
36
49
64
81
81

## Exercise 2 :  Make me an odd list

In [29]:
# Exactly what Exercise 2 wants

number_list = []

for i in range(1,10,2):
    i = i**2
    number_list.append(i)

number_list

[1, 9, 25, 49, 81]

In [23]:
number_list = []

for i in range(1,10,2):
    i = i**2
    number_list.append(i)
    print(i)

number_list

1
9
25
49
81

[1, 9, 25, 49, 81]

In [20]:
for i in range(1,10,2):
    i = i**2
    print(i)

1
9
25
49
81

## Exercise 3 :  Make me another odd list

In [12]:
# Exactly what Exercise 4 wants

number = 1
number_list = [1]
squared_number = number**2

while squared_number < 81: # Look through loop, see what output will be - e.g. 64<81 -> still fulfils requirement
    number += 2
    squared_number = number**2 # To the power of instead -> load value faster
    number_list.append(squared_number)
    
number_list

[1, 9, 25, 49, 81]

In [16]:
# Exactly what Exercise 4 wants

number = 1
number_list = [1]
squared_number = number**2

while range(number,10,2) and number < 9: # Look through loop, see what output will be - e.g. 64<81 -> still fulfils requirement
    number += 2
    squared_number = number**2 # To the power of instead -> load value faster
    number_list.append(squared_number)
    
number_list

[1, 9, 25, 49, 81]

In [17]:
# Exactly what Exercise 4 wants

number = 1
number_list = [1]
squared_number = number**2

while range(number,9,2): # Look through loop, see what output will be - e.g. 64<81 -> still fulfils requirement
    number += 2
    squared_number = number**2 # To the power of instead -> load value faster
    number_list.append(squared_number)
    
number_list

[1, 9, 25, 49, 81]

In [3]:
i = [0,1,4,9,16,25,36,49,64,81]

i[1:10]

    

# idk :()

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
import numpy as np

i = [0,1,4,9,16,25,36,49,64,81]

array_i = np.array(i)

i[1:10:2]

# Array is faster

[1, 9, 25, 49, 81]

In [10]:
number = 1

squared_number = number**2
list(number_list) += [squared_number]

while squared_number < 81: # Look through loop, see what output will be - e.g. 64<81 -> still fulfils requirement
    number += 2
    squared_number = number**2 # To the power of instead -> load value faster
    number_list.append(squared_number)
    
number_list

SyntaxError: 'function call' is an illegal expression for augmented assignment (3116677921.py, line 4)

In [2]:
number = 1
number_list = [1]
squared_number = number**2

while squared_number < 81: # Look through loop, see what output will be - e.g. 64<81 -> still fulfils requirement
    number += 2
    squared_number = number**2 # Need to define squared_number again, update its defintion
    number_list.append(squared_number)
    
number_list

[1, 9, 25, 49, 81]