<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Good)</span></div>

## 1 Interrupting the flow

In [2]:
for i in range(10):
    if i > 6: break
    print(i)

# : follows if
# use cursor and follow the lines

0
1
2
3
4
5
6

In [3]:
for i in range(7):
    print(i)

# the faster way to get the previous ouput

0
1
2
3
4
5
6

In [4]:
for i in range(10):
    if i == 6: continue
    print(i)

    
# Don't proceed further IN THE CURRENT LOOP is i == 6

0
1
2
3
4
5
7
8
9

In [5]:
for i in range(10):
    if i%2 == 1: continue
    print(i)

    
# Don't proceed further IF REMAINDER IS 1

0
2
4
6
8

In [6]:
for i in range(10):
    if i%2 == 0: continue
    print(i)

    
# Don't proceed further IF REMAINDER IS 0

1
3
5
7
9

In [7]:
number = 0

while True:
    print(number)
    number += 1
    if number >= 4: break

0
1
2
3

In [12]:
number = 0

while True:
    print(number)
    number += 1
    if number == 3: continue
    if number == 6: break

0
1
2
3
4
5

In [17]:
number = 0

while True:
    
    number += 1
    if number == 3: continue
    if number == 6: break
    print(number)

1
2
4
5

In [16]:
number = 0

for i in range(6):
    if i == 3: continue
    print(i)

0
1
2
4
5

In [13]:
for i in range(10):
    if i == 6: continue        # Don't proceed further
                               # IN THE CURRENT LOOP
                               # if i == 6
    print(i) # Careful where to put print() line!!!

0
1
2
3
4
5
7
8
9

## 2 List comprehension!

### 2.1 Basic syntax

In [9]:
[number for number in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
[number**2 for number in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
[number**2 for number in range(1,10,2)]

[1, 9, 25, 49, 81]

In [12]:
import numpy as np

list_ = [number**2 for number in range(10)]
num_array = np.array(list_)
num_array.astype(int) # Convert integer into integer
# Array stores one type of data only
# Before this, the exercise had strings and numbers 
# so both were stored as strings -> that's why conversion
# to integers was required
num_array
newer_array = num_array % 2 
newest_array = newer_array == 1
newest_array
newesetest_array = num_array[newest_array]
list(newesetest_array)

[1, 9, 25, 49, 81]

In [7]:
num_array

array([<generator object <genexpr> at 0x00000219B96D2F20>], dtype=object)

### 2.2 List comprehension with conditions

In [17]:
[number for number in range(10) if number % 2 == 0]
# finding even numbers from 0-9

[0, 2, 4, 6, 8]

In [18]:
[number for number in range(10) if number % 2 == 1]
# finding odd numbers from 0-9

[1, 3, 5, 7, 9]

In [19]:
[number for number in range(10) if number**2 % 2 == 1]
# finding even numbers from 0-9 whose sqaure is odd

[1, 3, 5, 7, 9]

In [20]:
[number for number in range(10) if number**2 % 2 == 0] # list generated as result
# finding even numbers from 0-9 whose sqaure is odd

[0, 2, 4, 6, 8]

In [24]:
num_list = [number for number in range(10) if number**2 % 2 == 0] # list generated as result
# finding even numbers from 0-9 whose sqaure is odd
new_array = np.array(num_list)
new_array # Notice the array output!

array([0, 2, 4, 6, 8])

In [25]:
num_list = [number for number in range(10) if number**2 % 2 == 0] # list generated as result
# finding even numbers from 0-9 whose sqaure is odd
new_array = np.array(num_list)
len(new_array)

5

## 3 Other useful stuff

### 3.1 for with unpacking

In [26]:
x, y, z = [1,2,3]
print(f'x = {x}, y = {y}, z = {z}')
# unpacking 
# mostly used for 2D list

x = 1, y = 2, z = 3

In [38]:
real_name = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
super_name = ['Batman', 'Superman', 'Wonder Woman']

py_superhero_info = [['Bruce Wayne','Batman'], 
                     ['Clark Kent', 'Superman'], 
                     ['Diana Prince', 'Wonder Woman']]

for real_name, super_name in py_superhero_info:
    print(f'{real name} is DC's {super_name}!')
          
# HELP

SyntaxError: f-string: invalid syntax (3926358697.py, line 9)

In [20]:
py_superhero_info = [['Bruce Wayne','Batman'], 
                     ['Clark Kent', 'Superman'], 
                     ['Diana Prince', 'Wonder Woman']]

for real_name, super_name in py_superhero_info:
    # print(real_name is DC's super_name!)
    print(real_name)
    print(super_name)
    print(f'{real_name} is DC\'s {super_name}!')
# real_name is taken as the first
# super_name is taken as the second

Bruce Wayne
Batman
Bruce Wayne is DC's Batman!
Clark Kent
Superman
Clark Kent is DC's Superman!
Diana Prince
Wonder Woman
Diana Prince is DC's Wonder Woman!

In [21]:
py_superhero_info = [['Bruce Wayne','Batman'], 
                     ['Clark Kent', 'Superman'], 
                     ['Diana Prince', 'Wonder Woman']]

for real_name, super_name in py_superhero_info:
    # print(real_name is DC's super_name!)
    print(f'{real_name} is DC\'s {super_name}!')
# real_name is taken as the first
# super_name is taken as the second

Bruce Wayne is DC's Batman!
Clark Kent is DC's Superman!
Diana Prince is DC's Wonder Woman!

In [29]:
py_superhero_info = [['Bruce Wayne','Batman'], 
                     ['Clark Kent', 'Superman'], 
                     ['Diana Prince', 'Wonder Woman']]

for real_name, super_name in py_superhero_info:
    if real_name == 'Bruce Wayne' or real_name == 'Diana Prince':
        print(f'{real_name} is DC\'s {super_name}!')
# real_name is taken as the first
# super_name is taken as the second

Bruce Wayne is DC's Batman!
Diana Prince is DC's Wonder Woman!

In [38]:
py_superhero_info = [['Bruce Wayne','Batman'], 
                     ['Clark Kent', 'Superman'], 
                     ['Diana Prince', 'Wonder Woman']]

for real_name, super_name in py_superhero_info:
    if real_name in ('Bruce Wayne' , 'Diana Prince'): # See as tuple, both together, no or so they are both read 
        print(f'{real_name} is DC\'s {super_name}!')
# real_name is taken as the first
# super_name is taken as the second

Bruce Wayne is DC's Batman!
Diana Prince is DC's Wonder Woman!

In [37]:
py_superhero_info = [['Bruce Wayne','Batman'], 
                     ['Clark Kent', 'Superman'], 
                     ['Diana Prince', 'Wonder Woman']]

for real_name, super_name in py_superhero_info:
    if real_name == ('Diana Prince' or 'Bruce Wayne'):
        print(f'{real_name} is DC\'s {super_name}!')
# real_name is taken as the first
# super_name is taken as the second

Diana Prince is DC's Wonder Woman!

In [36]:
('Bruce Wayne' or 'Diana Prince')
# only first one read

'Bruce Wayne'

In [25]:
py_superhero_info = [['Bruce Wayne','Batman'], 
                     ['Clark Kent', 'Superman'], 
                     ['Diana Prince', 'Wonder Woman']]

for real_name, super_name in py_superhero_info:
    if real_name == ('Bruce Wayne' and 'Diana Prince'):
        print(f'{real_name} is DC\'s {super_name}!')
# real_name is taken as the first
# super_name is taken as the second

Diana Prince is DC's Wonder Woman!

### 3.2 for with a zip()

In [41]:
# using zip() to combine 2 lists

real_name = ['Bruce Wayne', 'Clark Kent', 'Diana Prince']
super_name = ['Batman', 'Superman', 'Wonder Woman']

for real_name, super_name in zip(real_name, super_name):
    print(f'{real_name} is DC\'s {super_name}')

Bruce Wayne is DC's Batman
Clark Kent is DC's Superman
Diana Prince is DC's Wonder Woman

### 3.3 for with dictionaries

**WHATS GOING ON :(**

In [49]:
superhero_info = {'Batman':'Bruce Wayne', 'Superman':'Clark Kent',
                 'Wonder Woman':'Diana Prince'}

# items() gives both key and corresponding value

for key, value in superhero_info.items():
    print(f'{key} is actually no joke {value.upper()}!')

Batman is actually no joke BRUCE WAYNE!
Superman is actually no joke CLARK KENT!
Wonder Woman is actually no joke DIANA PRINCE!

In [48]:
# directly access the keys!

for key in superhero_info.keys():
    value = superhero_info[key]
    print(f'{key} is DC\'s {value.upper()}!')
    
# The same as the top
# but here need to access values first

Batman is DC's BRUCE WAYNE!
Superman is DC's CLARK KENT!
Wonder Woman is DC's DIANA PRINCE!

## Exercise 1 :  Make me an odd list

In [53]:
list_of_numbers = []

for i in range(1,10):
    i = i**2
    if i % 2 == 0: continue
    list_of_numbers.append(i)

list_of_numbers

[1, 9, 25, 49, 81]

In [50]:
list_of_numbers = []

for i in range(1,10,2):
    i = i**2
    list_of_numbers.append(i)

list_of_numbers

[1, 9, 25, 49, 81]

## Exercise 2 :  Make me another odd list

In [54]:
[number**2 for number in range(1,10,2)]

[1, 9, 25, 49, 81]

## Exercise 3 :  Time me!

In [43]:
%%timeit 

list_of_numbers = []

for i in range(1,10):
    i = i**2
    if i % 2 == 0: continue
    list_of_numbers.append(i)
    
list_of_numbers

2.23 µs ± 20.8 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [40]:

%%timeit
[number**2 for number in range(1,10,2)]

1.17 µs ± 4.26 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

*the line comprehension is faster as there is less lines of code for the computer to process?*

##### because of individual operations itself, for loops are just slower 
##### designed for simplicity, not for speed

In [39]:

%timeit [number**2 for number in range(1,10,2)]

# WHY NO WORK
# %%t is for entire code cell
# %t is for just the line

1.17 µs ± 7.8 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

`
second time, code runs faster !!!
`
###### made as code block for no reason